<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fragments for Main</title>
</head>
<body>

<div th:fragment="new-message(filter, maxLength)">
    <div class="card border-light mb-3 shadow">
        <div class="card-header bg-light border-light">
            <h3>Bulletin board</h3>
        </div>

        <div class="card-body">
            <form method="post" th:action="@{/wall}" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="text">Your notice</label>
                    <textarea class="form-control" name="text" id="text" placeholder="Message"
                              th:maxlength="${maxLength}" required></textarea>
                    <small class="form-text text-muted">Once sent, you can't remove it.</small>
                </div>


                <div class="form-row align-items-center">
                    <div class="col-8">
                        <input type="text" class="form-control" name="tag" placeholder="Tag">
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-text card-footer bg-light text-white border-light">
            <div>
                <form method="get" th:action="@{/wall}">
                    <div class="form-row">
                        <div class="col-auto">
                            <input type="text" class="form-control" name="filter" placeholder="Tag"
                                   th:value="${filter}">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary btn-block">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="message-list (messages)" class="card-columns my-5">
    <div th:each="message : ${messages}">
        <div th:replace=":: message-card(message=${message})"></div>
    </div>
</div>

<div th:fragment="message-card (message)">
    <div class="card border-light mb-3 shadow">
        <div class="card-header bg-light border-light">
            <h5 th:text="${message.author.username}"></h5>
        </div>

        <div class="card-body">
            <p class="card-text" th:text="${message.text}"></p>
        </div>

        <div class="card-text card-footer bg-light text-white border-light" style="transform: rotate(0);"
             th:if="${!#strings.isEmpty(message.tag)}">
            <a th:href="@{/wall?filter={tag}(tag=${message.tag})}" class="stretched-link badge badge-primary"
               th:text="${message.tag}"></a>
        </div>
    </div>
</div>

</body>
</html>