<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="header" class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><span class="brand">Sergei Litvinenko</span></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="featuresDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Features
                    </a>
                    <div class="dropdown-menu" aria-labelledby="featuresDropdown">
                        <tr th:each="entryPoint : ${navigationContent.entryPoints}">
                            <td>
                                <a th:href="${entryPoint.relativeAddress}" th:text="${entryPoint.title}"
                                   class="dropdown-item"></a>
                            </td>
                        </tr>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="contactsDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Contact me
                    </a>
                    <div class="dropdown-menu" aria-labelledby="contactsDropdown">
                        <tr th:each="contact : ${navigationContent.contacts}">
                            <td>
                                <a th:href="${contact.socialNetwork.baseUrl + contact.userIdentifier}"
                                   class="dropdown-item">
                                    <img th:src="${contact.socialNetwork.iconUrl}" width="24" height="24"/>
                                    <span th:text="${contact.socialNetwork.name}"></span>
                                </a>
                            </td>
                        </tr>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>