<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="fragments/common/scripts.html :: resources(~{::title})">
    <title>Internal error</title>
</head>

<body>

<div class="page">
    <main class="content">
        <div class="container my-5">
            <div class="container">
                <div class="child">
                    <div class="jumbotron">
                        <h1 class="display-4">
                            <span class="badge badge-warning">404</span> Not Found
                        </h1>
                        <hr class="my-4">
                        <div class="alert alert-danger" role="alert">
                            Some serious mistake happened. Be sure we're already working on it.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="fragments/common/footer.html :: footer"></div>
</div>

</body>

</html>