<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="header (navigationContent)" class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><span class="brand">Sergei Litvinenko</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="featuresDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Features
                    </a>
                    <div class="dropdown-menu" aria-labelledby="featuresDropdown">
                        <tr th:each="feature : ${navigationContent.features}">
                            <td>
                                <a th:href="${feature.relativeAddress}" th:text="${feature.title}"
                                   class="dropdown-item"></a>
                            </td>
                        </tr>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="contactsDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Contact me
                    </a>
                    <div class="dropdown-menu" aria-labelledby="contactsDropdown">
                        <tr th:each="contact : ${navigationContent.contacts}">
                            <td>
                                <a th:href="${contact.socialNetwork.baseUrl + contact.userIdentifier}"
                                   class="dropdown-item">
                                    <img th:src="${contact.socialNetwork.iconUrl}" width="24" height="24"/>
                                    <span th:text="${contact.socialNetwork.name}"></span>
                                </a>
                            </td>
                        </tr>
                    </div>
                </li>
            </ul>
            <div th:if="${navigationContent.userInfo.class.name == 'ru.svlit.core.util.SignedInUserInfo'}">
                <div th:insert="::sign-out (username=${navigationContent.userInfo.user.username})"></div>
            </div>

            <div th:if="${navigationContent.userInfo.class.name == 'ru.svlit.core.util.GuestUserInfo'}"
                 th:insert="::sign-in-or-up"></div>
        </div>

    </nav>
</div>

<form th:fragment="sign-out (username)" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
    <label th:text="${username}" class="mr-3">User</label>
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Log out</button>
</form>

<form th:fragment="sign-in-or-up" class="form-inline my-2 my-lg-0" action="/login">
    <button class="btn btn-outline-secondary my-2 my-sm-0 mr-3" type="submit" th:name="@{/login}">Sign in</button>
    <button class="btn btn-primary my-2 my-sm-0" type="submit" th:name="@{/sign-up}">Sign up</button>
</form>

</body>
</html>