<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
<div th:fragment="header(content)" class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><span class="brand" th:text="${content.textTitle}"></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle brand" href="#" id="featuresDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="${content.textFeatures}"></a>
                    <div class="dropdown-menu" aria-labelledby="featuresDropdown">
                        <div th:each="feature : ${content.features}">
                            <a th:href="${feature.relativeAddress}" th:text="${feature.title}"
                               class="dropdown-item brand"></a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle brand" href="#" id="contactsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="${content.textContacts}"></a>
                    <div class="dropdown-menu" aria-labelledby="contactsDropdown">
                        <div th:each="contact : ${content.contacts}">
                            <a th:href="${contact.socialNetwork.baseUrl + contact.userIdentifier}"
                               class="dropdown-item">
                                <img th:src="${contact.socialNetwork.iconUrl}" width="24" height="24"/>
                                <span th:text="${contact.socialNetwork.name}" class="ml-2 brand"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div th:if="${content.userInfo.class.name == 'ru.svlit.core.util.SignedInUserInfo'}">
                <div th:insert="::sign-out (username=${content.userInfo.user.username}, label=${content.textSignOut})"></div>
            </div>

            <div th:if="${content.userInfo.class.name == 'ru.svlit.core.util.GuestUserInfo'}"
                 th:insert="::sign-in-or-up(labelSignIn=${content.textSignIn}, labelSignUp=${content.textSignUp})"></div>
        </div>
    </nav>
</div>

<form th:fragment="sign-out (username, label)" class="form-inline" th:action="@{/logout}" method="post">
    <label th:text="${username}" class="mr-3 brand">User</label>
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" th:text="${label}"></button>
</form>

<div th:fragment="sign-in-or-up(labelSignIn, labelSignUp)">
    <a th:href="@{/sign-in}" class="btn btn-outline-secondary" role="button" th:text="${labelSignIn}"></a>
    <a th:href="@{/sign-up}" class="btn btn-success" role="button" th:text="${labelSignUp}"></a>
</div>

</body>

</html>