.content {
    margin: 0 auto;
    width: 100%;
}

.footer {
    margin-top: auto;
}

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.7));
}

.bordered {
    border: 4px cyan;
}

@font-face {
    font-family: Exo2-Regular;
    src: url('../fonts/Exo2.ttf');
}

.brand {
    font-family: Exo2-Regular, verdana;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}