html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
}

.content {
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:linear-gradient(transparent, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.7));
}

.bordered {
    border: 4px cyan;
}