<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>Coronavirus Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>

</head>

<body>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Coronavirus Dashboard</h1>
        <hr class="my-4">
        <p class="lead">Total cases reported:</p>
        <h1 class="display-4" th:text="${totalCasesReported}"></h1>
        <hr class="my-4">
        <p class="lead">Today cases:</p>
        <h1 class="display-4" th:text="${totalIncrease}"></h1>
        <hr class="my-4">
        <p>Based on materials of Johns Hopkins Whiting School of Engineering.</p>
    </div>

    <table class="table table-hover">
        <tr>
            <th>Country</th>
            <th style="text-align:center">Total cases reported</th>
            <th style="text-align:center">New cases today</th>
        </tr>
        <tr th:each="row : ${rows}">
            <td th:text="${row.country}"></td>
            <td style="text-align:center" th:text="${row.totalCases}"></td>
            <td style="text-align:center" th:text="${row.increasedBy}"></td>
        </tr>
    </table>
</div>


</body>

</html>