<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:insert="fragment/scripts::scripts">
    <title>COVID-19 dashboard</title>
</head>

<body>

<div class="content">
    <div th:insert="fragment/header::header"></div>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"><span class="brand">Coronavirus Dashboard</span></h1>
            <hr class="my-4">
            <p class="lead"><span class="brand">Total cases reported:</span></p>
            <h1 class="display-4" th:text="${totalCasesReported}"></h1>
            <hr class="my-4">
            <p class="lead"><span class="brand">Today cases:</span></p>
            <h1 class="display-4" th:text="${totalIncrease}"></h1>
            <hr class="my-4">
            <p class="brand">Based on materials of Johns Hopkins Whiting School of Engineering.</p>
        </div>

        <table class="table table-hover">
            <tr>
                <th><span class="brand">Country</span></th>
                <th style="text-align:center"><span class="brand">Total cases reported</span></th>
                <th style="text-align:center"><span class="brand">New cases today</span></th>
            </tr>
            <tr th:each="row : ${rows}">
                <td th:text="${row.country}"></td>
                <td style="text-align:center" th:text="${row.totalCases}"></td>
                <td style="text-align:center" th:text="${row.increasedBy}"></td>
            </tr>
        </table>
    </div>
</div>

<div th:insert="fragment/footer::footer"></div>
</body>

</html>