<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common/scripts.html :: resources(~{::title})">
    <title>Sweater. Sign in</title>
</head>
<body>

<div class="content">
    <div class="container mt-5">
        <div th:insert="fragments/login/errors.html :: errors"></div>
        <div th:insert="fragments/login/form-login.html :: form-login"></div>
    </div>
</div>
<div th:insert="fragments/common/footer.html :: footer"></div>

<div th:insert="fragments/common/scripts.html :: scripts"></div>
</body>
</html>