<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="fragment/scripts::scripts">
    <title>Sweater</title>
</head>

<body>

<div class="content">
    <div th:insert="fragment/header::header"></div>

    <div class="container">
        <h1 class="display-3 brand">Sweat something!</h1>
        <div th:insert="fragment/sweater/sweater-new-message::sweater-new-message"></div>

        <h1 class="display-4 brand">Top sweats</h1>
        <div th:insert="fragment/sweater/sweater-messages-list::sweater-messages-list"></div>
    </div>
</div>

<div th:insert="fragment/footer::footer"></div>

</body>

</html>