<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="fragments/common/scripts.html :: resources(~{::title})">
    <title>Admin Panel — Sergei Litvinenko</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
</head>

<body>

    <div class="page">
        <div th:replace="fragments/common/header.html :: header(navigationContent=${navigationContent})"></div>

        <main class="content">
            <div class="container my-5">
                <div th:insert="fragments/users/users.html :: user-list(users=${users}, roles=${roles})"></div>
            </div>
        </main>

        <div th:replace="fragments/common/footer.html :: footer"></div>
    </div>

    <div th:insert="fragments/common/scripts.html :: scripts"></div>

</body>

</html>