<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="fragments/common/scripts.html :: resources(~{::title})">
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
</head>

<body>


<div class="content">
    <div th:insert="fragments/common/header.html :: header(navigationContent=${navigationContent})"></div>

    <div class="container my-5">
        <div th:insert="fragments/users/users.html :: user-list(users=${users}, roles=${roles})"></div>
    </div>
</div>

<div th:insert="fragments/common/footer.html :: footer"></div>

<div th:insert="fragments/common/scripts.html :: scripts"></div>

</body>

</html>